{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {# Tableau de liste d'utilisateurs #}
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Status</th>
                {# <th>Roles</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        {% if user.status %}
                        <span class="text-success">Enabled</span>
                        {% else %}
                        <span class="text-danger">Disabled</span>
                        {% endif %}
                    </td>
                    {# <td>user.roles</td> #}
                    <td>
                        <a title="Edit"><i class="fas fa-edit text-primary"></i></a>
                        <a href="{{ path('admin_user_delete', {'id':user.id}) }}" title="Delete"><i class="fas fa-trash-alt text-danger"></i></a>
                        {% if user.status %}
                        <a href="{{ path('admin_user_toggle_status', {'id':user.id}) }}" title="Disable"><i class="far fa-thumbs-down text-warning"></i></a>
                        {% else %}
                        <a href="{{ path('admin_user_toggle_status', {'id':user.id}) }}" title="Enable"><i class="far fa-thumbs-up text-success"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
