{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

{# <form action="" method="post">
    <label for="title">Title:</label>
    <input name="title" type="text">
    <br>
    <label for="">Content:</label>
    <br>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Submit</button>
</form> #}

<div class="container">

{% for message in app.flashes("success") %}
    <div class="alert alert-success" role="alert">
        A simple success alertcheck it out!
    </div>
{% endfor %}

<h1>Add</h1>
{# {{form(form)}} #}
<div class="post-div row">
    <div class="col">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        {{ form_end(form) }}
    </div>
</div>


<h1>Posts</h1>
<div class="alert alert-primary">
    Bonjour !
</div>
{% for post in posts %}
    <div class="post-div row">
        <div class="col">
            {% if post.image %}
                <div class="row"><img src="images/{{post.image}}" class="post-image"></div>
            {% endif %}
            <div class="row"><h2>{{post.title}}</h2></div>
            <div class="row"><p>{{post.content}}</p></div>
            <div class="row">
                {# Génération dynamique de route (utilise le 'name' de la route en controlleur) #}
                <a href="{{path('post_edit', {'id': post.id})}}" class="btn btn-primary">Edit</a>
                <a href="{{path('post_delete', {'id': post.id})}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}
